00_project_sql/configs/
01_project_soh/configs/
01_project_soh/data/
02_project_checklist/configs/
03_project_missrate/configs/
04_project_stocktake/configs/
public_configs/
sample_folder
autobot_ticket.py
mouse position detect.py
